Creating OAuth Authorization... done
Client:      <none>
ID:          d719c6a1-fb09-4918-a238-d4dbc611ed53
Description: Long-lived user authorization
Scope:       global
Token:       d0603e98-bf10-4e4c-97c9-e317ab27107a
Michaels-MacBook-Pro:Project_Dante michaelramirez$

Michaels-MacBook-Pro:Project_Dante michaelramirez$ heroku auth:token
83de6060-00d2-4b93-b26e-d51874bdaa2f